@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
      
    body {
        background-color: rgb(9 9 11);
    }
    ::selection {
      background: #fb923c;
      color: #000
    }
    
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
    
      .scrollbar::-webkit-scrollbar-thumb {
        background: #18181b;
        border-radius: 100vh;
      }

      /* .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #27272a;
      } */
    
  }